.clock__styles{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.text-white {
    color: white;
    font-weight: 600;
}
.double__dote{
    font-size: 16px !important;
}
@media only screen and (max-width:992px) {
    .clock__wrapper {
        justify-content: center;
    }
    .clock__data h1{
        font-size: 1.1rem !important;
    }
    .clock__data h5{
        font-size: 0.9rem !important;
    }
}

@media only screen and (max-width:768px) {

}