.clock__styles{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.text-white {
    color: white;
    font-weight: 600;
}
.double__dote{
    font-size: 16px !important;
}